
@font-face {
    font-family: "Cylburn";
    src: local("Fonts/Cylburn.ttf");
}
@font-face {
    font-family: "Yatra One";
    src: local("fonts/YatraOne-Regular.ttf");
}

.break {
    /*border-top: 0.3px solid darkgrey;*/
    /*border-bottom: 0.3px solid darkgrey;*/
    height: 10em;
    width: 100%;
    z-index: 1;
}
#title {
    padding-top: 0.2em;
    padding-left: 0.5em;
    font-family: "Cylburn";
    font-size: 4.5em;
    color: darkgrey;
}
.menu-items {
    font-family: 'Yatra One';
    font-style: italic;
    padding-right: 0.5em;
}
.uk-navbar-nav ul li{
    font-family: 'Yellowtail', serif;
    font-style: italic;
    padding-right: 0.5em;
}
.uk-background-blend-color {
    background-color: darkgrey;
}
.uk-card {
    font-size: 0.9em;
    color: #a9a9a9;
}
img {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: opacity(100%);
    filter: grayscale(60%);
}
.uk-background-blend-lighten {
    border: 0.5px darkgoldenrod;
    font-family: Rasa;
    font-size: 1em;
    filter: opacity(98%);
    background-color: #f0f0f0;
}
.uk-container {
    filter: opacity(96.5%);
    background-color: #f0f0f0;
    padding-left: 0em;
    padding-right: 0em;
}
.uk-background-cover {
    filter: grayscale(35%);
}