
@font-face {
    font-family: "Cylburn";
    src: local("Fonts/Cylburn.ttf");
}
@font-face {
    font-family: "Yatra One";
    src: local("Fonts/YatraOne-Regular.ttf");
}
.break {
    border: 1px solid black;
}
#title {
    padding-top: 0.2em;
    padding-left: 0.5em;
    font-family: "Cylburn";
    font-size: 4.5em;
    color: darkgrey;
}
.menu-items {
    font-style: italic;
    padding-right: 0.5em;
}
